#content-wrapper {
  position:absolute;
  background-color:white;
  top: 50px;
  left: calc(50% - 500px);
  height: calc(90vh - 100px);
  width: calc(1000px);
}

#content-left-border {
  position:absolute;
  top:24px;
  left:23px;
  width:1px;
  height:700px;
  border-right:1px dotted #999;
}

#actual-content-container {
  position:absolute;
  top: 25px;
  left: 25px;
  width:calc(100% - 25px);
  height:calc(100% - 25px);
  overflow-y: scroll;
}

#actual-content {
  position:relative;
  margin: 20px;
}

.concept-bg {
  background-color: gray;
}
