#content-top-border {
  position:absolute;
  top:48px;
  left:50px;
  height:1px;
  width:calc(100% - 50px);
  border-bottom:1px dashed green;
}

nav {
  position:relative;
  font-family: arial;
  font-size: 10pt;
  margin-top: 20px;
  left:50px;
}

nav ul {
  padding: 0;
}
nav li {
  list-style-type: none;
  margin-right:18px;
  float: left;
}
